# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Mac OS specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing results
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Local files
local_settings.py
